* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f4f4f4;
}
.imgbox {
  display: grid;
  height: 100%;
}
.img {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
